<md-dialog>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit event</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px;;min-width: 400px">
            <md-content class="md-padding">
                <form name="addEventForm">
                    <md-input-container class="md-block">
                        <label>Name</label>
                        <input md-maxlength="30" required name="Name" ng-model="tempEvent.name">

                        <div ng-messages="addEventForm.Name.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Start date</label>
                        <input ng-model="tempEvent.startDate" class="datepicker" ng-click="opendatepicker()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>End date</label>
                        <input ng-model="tempEvent.endDate" class="datepicker" ng-click="opendatepicker()">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Amount tickets</label>
                        <input required name="tickets" ng-model="tempEvent.maxTickets">

                        <div ng-messages="addEventForm.tickets.$error">
                            <div ng-show="ifEmpty()" ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Amount guest tickets</label>
                        <input required name="guestTickets" ng-model="tempEvent.maxTempTickets">

                        <div ng-messages="addEventForm.guestTickets.$error">
                            <div ng-show="ifEmpty()" ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Ticket price</label>
                        <input required name="origin" ng-model="tempEvent.price">

                        <div ng-messages="addEventForm.ticketPrice.$error">
                            <div ng-show="ifEmpty()" ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Description</label>
                        <textarea name="description" ng-model="tempEvent.description"/>

                        <div ng-messages="addEventForm.description.$error">
                            <div ng-show="ifEmpty()" ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </form>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="answer()">
                Save
            </md-button>
            <md-button ng-click="answer()" style="margin-right:20px;">
                Abort
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

<script>  $(document).ready(function () {
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
    });
});
</script>