
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper vis-blue">
            <a href="#!" class="brand-logo left" style="margin-left: 0.5em;"><img src="images/vis_logo_white.png" height="57em" width="130em"></a>
            <a href="#" data-activates="mobile" class="button-collapse right"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="hide-on-med-and-down right">

                <li><a class="nav-link" href="#/home">Home</a></li>
                <li><a class="nav-link" href="#/members">Members</a></li>
            </ul>
            <ul class="side-nav" id="mobile">
                <li><a href="#/home">Home</a></li>
                <li><a href="#/members">Members</a></li>
            </ul>

        </div>

    </nav>
</div>

<a class="waves-effect waves-light btn" ng-click="showNewEventDialog()">Create Event</a>
    <div ng-repeat="event in eventList" id="popupContainer">
        {{event}}
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header">{{event.name}}</div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="col s10">
                        <h1>{{event.name}}</h1>
                    </div>
                    <div class="col s2">
                        <br>
                        <a class="waves-effect waves-light btn" ng-click="showEditEventPopUp(event)">Edit</a>
                        <a class="waves-effect waves-light btn" ng-click="showConfirmDeleteEvent()">Delete</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s3">
                        <table>
                            <tbody>
                            <tr>
                                <td>Startdate</td>
                                <td>{{event.startDate | date:'yyyy-MM-dd'}}</td>
                            </tr>
                            <tr>
                                <td>Enddate</td>
                                <td>{{event.endDate | date:'yyyy-MM-dd'}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col s3">
                        <table>
                            <tbody>
                            <tr>
                                <td>Tickets total</td>
                                <td>{{event.maxTickets}}</td>
                            </tr>
                            <tr>
                                <td>Tickets remaining</td>
                                <td>{{event.remTickets}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col s3">
                        <table>
                            <tbody>
                            <tr>
                                <td>Temp tickets</td>
                                <td>{{event.maxTempTickets}}</td>
                            </tr>
                            <tr>
                                <td>Temp. tickets remaining</td>
                                <td>{{event.remainingTempTickets}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col s3">
                        <table>
                            <tbody>
                            <tr>
                                <td>Ticket price</td>
                                <td>{{event.price}}</td>
                            </tr>
                            <tr>
                                <td>Days amount</td>
                                <td>{{event.amountDays}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <p>
                    {{event.description}}
                </p>
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search the member" ng-model="searchMember">
                        </div>
                    </div>
                </form>
                <a class="waves-effect waves-light btn" ng-click="showAddMemberToEventPopUp()">Add Participant</a>

                <!-- This is just the basic table with the fixed attributes. Some tables should have special columns like diet restrictions or special required information -->
                <table class="striped table-bordered responsive-table">
                    <thead>
                    <tr>
                        <th data-field="id">ID</th>
                        <th data-field="name">Name</th>
                        <th data-field="family">Family</th>
                        <th data-field="sex">Sex</th>
                        <th data-field="birthday">Birthday</th>
                        <th data-field="address">Address</th>
                        <th data-field="mobile">Mobile</th>
                        <th data-field="email">Email</th>
                    </tr>
                    </thead>
                    <!-- GO ON !!!-->
                    <tbody>
                        <tr ng-repeat="person in informationList[0]['memberlist'] | filter:searchMember" ng-click="showConfirm($event)" >
                            <td >{{person.id}}</td>
                            <td >{{person.name}}</td>
                            <td >{{person.family}}</td>
                            <td >{{person.sex}}</td>
                            <td >{{person.birthday | date:'yyyy-MM-dd'}}</td>
                            <td >{{person.address}}</td>
                            <td >{{person.mobile}}</td>
                            <td >{{person.email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
    </ul>
    </div>
    <footer class="page-footer vis-blue">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
</body>


<script>  $(document).ready(function(){
    $('.collapsible').collapsible({
        accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
});

$(".dropdown-button").dropdown();



</script>