<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper vis-blue">
            <a href="#!" class="brand-logo left" style="margin-left: 0.5em;"><img src="images/vis_logo_white.png" height="57em" width="130em"></a>
            <a href="#" data-activates="mobile" class="button-collapse right"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="hide-on-med-and-down right">
                <li><a class="nav-link" href="#/events">Events</a></li>
                <li><a class="nav-link" href="#/members">Members</a></li>
            </ul>
            <ul class="side-nav" id="mobile">
                <li><a href="#/events">Events</a></li>
                <li><a href="#/members">Members</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="parallax-container">
    <div parallax class="parallax">
        <img src="images/awesome-landscape-wallpaper.jpg"/>
    </div>
</div>


<div style="display: flex; justify-content: center">
    <p style="margin-top: 3em; margin-bottom: 3em">VIS homepage</p>
</div>
<div class="parallax-container">
    <div parallax class="parallax">
        <img src="images/beach.jpg"/>
    </div>
</div>

<script>$( document ).ready(function(){$(".button-collapse").sideNav({edge: 'right', closeOnClick: true});})</script>



