
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper vis-blue">
            <a href="#!" class="brand-logo left" style="margin-left: 0.5em;"><img src="images/vis_logo_white.png" height="57em" width="130em"></a>
            <a href="#" data-activates="mobile" class="button-collapse right"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="hide-on-med-and-down right">

                <li><a class="nav-link" scroll-to="indexContainer" offset="250">Log In</a></li>

            </ul>
            <ul class="side-nav" id="mobile">
                <li><a href="#indexContainer">Log In</a></li>
            </ul>

        </div>
    </nav>
</div>
<div class="parallax-container" style="z-index: 0 !important; height: 100vh">
    <div class="section no-pad-bot" style="padding-top: 25vh">
        <div class="container">
            <h1 class="header center white-text text-lighten-2">Membo</h1>
            <div class="row center">
                <h5 class="header col s12 light white-text">A ViS administration page.</h5>
            </div>
            <br><br>
        </div>
    </div>
    <div parallax class="parallax">
        <img src="images/background2.jpg"/>
    </div>
</div>
<div class="container" id="indexContainer">
    <div class="section">
        <h2 class="center lights">Login</h2>
        <div>
            <form name="tempMemberForm">
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input required type="email" name="Email" ng-model="tempMember.Email"
                           minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Password</label>
                    <input md-maxlength="30" required name="password" type="password" ng-model="tempMember.firstName">
                </md-input-container>
                <button class="btn waves-effect waves-light vis-blue" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
    <br>
</div>

<div class="parallax-container">
    <div parallax class="parallax">
        <img src="images/background1.JPG"/>
    </div>
</div>
<footer class="page-footer vis-blue">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Membo</h5>
                <p class="grey-text text-lighten-4">Finally a data consistent member system</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#/members">Members</a></li>
                    <li><a class="grey-text text-lighten-3" href="#/events">Events</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>
<script>$( document ).ready(function(){$(".button-collapse").sideNav({edge: 'right', closeOnClick: true});})</script>


