<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo left">Membo</a>
            <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="nav-link" href="#/events">Events</a></li>
                <li><a class="nav-link" href="#/members">Members</a></li>
            </ul>
            <ul class="side-nav" id="mobile">
                <li><a href="#/events">Events</a></li>
                <li><a href="#/members">Members</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="parallax-container" style="margin: 20px 0;">
    <div parallax class="parallax">
        <img src="images/awesome-landscape-wallpaper.jpg"/>
    </div>
</div>
<div style="height: 200em">
    <p>auisdgosajgdojsapkgsadg</p>
</div>



