<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="row" style="height: 10em">
        <div class="col s3" align="right"><h4>Members</h4></div>
        <div class="col s9" align="center"><a class="waves-effect waves-light btn-large">Button</a></div>
    </div>

    <div class="dark">
        <form>
            <span><input type="text" class="search square" placeholder="search..."><input type="button" value="Search"></span>
        </form>
    </div>

    <div class="listOfMembers">
        <table class="striped - centered - responsive-table">
            <thead>
                <tr>
                    <th> data-field="firstName"First Name</th>
                    <th> data-field="lastName"Last Name</th>
                    <th> data-field="address"Address</th>
                    <th> data-field="socialNumber"Socialnumber</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Viktor</td>
                    <td>Karlsson</td>
                    <td>Växjö</td>
                    <td>9411025779</td>
                </tr>
                <tr>
                    <td>Otto</td>
                    <td>Bergman</td>
                    <td>Växjö</td>
                    <td>13221321321</td>
                </tr>
                <tr>
                    <td>Alex</td>
                    <td>Spotka</td>
                    <td>Växjö</td>
                    <td>21312311212</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>